.dashboardTable {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

table.blueTable {
  border: 5px solid rgb(100, 29, 29);
  background-color: #eeeeee;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  color: #0c0000e7;
  padding: 10%;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}
table.blueTable td,
table.blueTable th {
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 16px;
}
table.blueTable tr:nth-child(even) {
  background: #f5d9d0;
}
table.blueTable thead {
  background: #a45d12;
  background: -moz-linear-gradient(top, #e4486f 0%, #d4303e 66%, #d81616 100%);
  background: -webkit-linear-gradient(
    top,
    #e4486f 0%,
    #d4303e 66%,
    #d81616 100%
  );
  background: linear-gradient(to bottom, #e4486f 0%, #d4303e 66%, #d81616 100%);
}
table.blueTable thead th {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;

  text-align: center;
  padding: 2%;
  font-family: "Lato", sans-serif;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable .select-group {
  padding: 1.3%;
  cursor: pointer;
}

table.blueTable .select-group:hover {
  cursor: pointer;
  background-color: #b1aeae;
}
