.login .loginField,
#groupName {
  border-radius: 12px;
  text-align: center;
  padding: 1%;
  margin: 2%;
  font-size: 18px;
  width: 30%;
}

.loginField::placeholder {
  color: rgb(179, 171, 171);
}

.login .standardButton,
#standardButton {
  border-radius: 12px;
  text-align: center;
  padding: 1%;
  width: 30%;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
}

.login .standardButton:hover,
#standardButton:hover {
  background-color: #e0e0eb;
  color: rgb(33, 65, 133);
}

.login .standardAnchor,
#standardAnchor {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 1%;
  width: 30%;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.login .standardAnchor:hover,
#standardAnchor:hover {
  text-decoration: none;
  background-color: #e0e0eb;
  color: rgb(33, 65, 133);
}
