.login {
  padding: 20%;
  margin: auto;
  height: auto;
  display: inline-block;
  font-size: 18px;
  display: grid;
  align-items: center;
  font-family: "Palaquin Dark", sans-serif;
}

.login,
input {
  border-radius: 12px;
  text-align: center;
  padding: 1%;
  margin: 1%;
}

.loginButton {
  padding-right: 7%;
  padding-left: 7%;
  font-weight: bold;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #e0e0eb;
  color: rgb(33, 65, 133);
}

.registerButton {
  text-decoration: none;
  color: black;
  background-color: white;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 1%;
  padding-right: 5%;
  padding-left: 5%;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
}

.registerButton:hover {
  text-decoration: none;
  background-color: #e0e0eb;
  color: rgb(33, 65, 133);
}
