.login {
  margin: auto;
  height: auto;
  display: inline-block;
  display: grid;
  align-items: center;
}

.login .loginField {
  border-radius: 12px;
  text-align: center;
  padding: 1%;
  margin: 2%;
  font-size: 18px;
}
