/*@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);*/

body {
  /*font-family: "Palanquin Dark", sans-serif;*/

  background-color: #e5074b;
  background-image: linear-gradient(to bottom, #e5074b, #e5074b 150%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 24px;
  color: white;
  text-align: center !important;
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  display: grid;
  align-items: center;
  margin-right: 30%;
  margin-left: 30%;
  margin-bottom: 50%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.openImage {
  padding: 0;
  margin: auto;
  max-height: 70%;
  max-width: 70%;
  width: 150px;
  height: 150px;
  vertical-align: middle;
}

.landingImage {
  padding: 0;
  margin: auto;
  background-image: url("logo.png");
  width: 80%;
  height: auto;
  vertical-align: middle;
}

.button1 {
  background-color: #ffffff;
  width: 90px;
  height: 40px;
  font-size: 24px;
}

a.enterLogin {
  text-decoration: none;
  align-self: center;
  padding: 20px 31px 20px 31px;
  margin: auto;
  margin-top: 2%;
  border-radius: 12px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  position: relative;
  display: inline-block;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #e5074b;
  background-color: #ffffff;
}

.displayText {
  font-size: 25px;
  color: #ffffffe7;
  padding: 5%;
  /*font-family: "Exo 2", sans-serif;*/
  /*font-family: "Gloria Hallelujah", cursive;*/
  font-family: "Cabin Condensed", sans-serif;
  text-align: center;
}

.flashMessages {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  border-radius: 12px;
}

.logout,
.goDashboard {
  height: auto;
  max-height: 6%;
  max-width: 6%;
  width: auto;
  cursor: pointer;
  margin-right: 3%;
}

.container {
  max-width: 1240px;
  width: 100%;
}
