.register {
  padding: 20%;
  margin: auto;
  height: auto;
  display: inline-block;
  font-size: 18px;
  display: grid;
  align-items: center;
  font-family: "Palaquin Dark", sans-serif;
  background-color: blue;
}

.register > input {
  border-radius: 12px;
  text-align: center;
  padding: 1%;
  margin: 1%;
  font-size: 14px;
}

.register.createCount {
  padding-right: 7%;
  padding-left: 7%;
  font-weight: bold;
  cursor: pointer;
  margin-top: 5%;
}
