.register {
  padding: 5%;
  margin: auto;
  height: auto;
  display: inline-block;
  font-size: 18px;
  display: grid;
  align-items: center;
  /*font-family: "Palaquin Dark", sans-serif;*/
}

.register input {
  border-radius: 12px;
  text-align: center;
  padding: 1%;
  margin: 2%;
  font-size: 18px;
  width: 30%;
}

.register input::placeholder {
  color: rgb(179, 171, 171);
}

.register .createCount {
  padding: 1%;
  width: 30%;
  font-weight: bold;
  cursor: pointer;
  margin-top: 3%;
}

.register .createCount:hover {
  text-decoration: none;
  background-color: #e0e0eb;
  color: rgb(33, 65, 133);
}

.facebookLogin {
  padding: 1%;
  width: 30%;
  font-weight: bold;
  cursor: pointer;
  background-color: #3b5998;
  border: 1px solid #3b5998;
  border-radius: 12px;
  color: #e0e0eb;
}

.facebookLogin:hover {
  background-color: rgb(46, 76, 141);
  color: rgb(163, 175, 202);
}
