body {

  font-family: 'Palanquin Dark', sans-serif;

  background-color: #315481;
  background-image: linear-gradient(to bottom, #e5074b, #e5074b 150%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 24px;
  color: white;
  text-align: center !important;



}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
display:grid;
    align-items: center;
}



html, body {

    height: 100%;
    margin: 0;
    padding: 0;
    vertical-align: middle;

}

img {
    padding: 0;

    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;

    width:150px;
    height:150px;
    vertical-align: middle;


}

.img2 {
  width:100%;
height:auto;
vertical-align:middle;

}

.button1 {
  background-color: #ffffff;
  width: 90px;
  height: 40px;
  font-size: 24px;
}

a{
  text-decoration: none;
  align-self: center;
  text-decoration: none;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  padding: 12px 53px 12px 23px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-indent: 8%;
  font-size: 22px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  position: relative;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
