
<template name="newgroup">

  {{> header}}

  <h1 class="displayText">Create your group</h1>
  
    <input type="text"  id="groupName" class="groupName" placeholder="enter the group name">
      {{> categories}}
      {{#if addNewType}}
        <input type="text"  id="newType" class="newType" placeholder="enter the type of the group">
      {{/if}}

      {{> addFriend}}

    <p>
      <button href ="#" class="addGroup" value="Create Group">Create Group</button>
    </p>

    <div class="flashMessages">
        {{> flashMessages}}

    </div>

</template>

<template name="categories">
  <p>
      <div class="dropdown">
        <button class="dropbtn">
          {{selectType}}
          </button>
        <div class="dropdown-content">
            {{#each categories}}
            <a href="#" id="{{this}}" class="selectCategory" value="{{this}}">{{this}} </a>
          {{/each}}
        </div>
      </div>

  </p>

</template>

<template name="addFriend">

    
        <p>
          <label class="addFriendText">Add a friend</label>
        </p>
        <input type="text" id="friendEmail" placeholder="enter your friend email">
        <p>
          <br>
          <button href="#" class="addFriend" value="Add Friend">
              Add Friend
          </button>
      </p>
     

      <table class="blueTable">
        <thead>
            <tr>
                <th>
                  Your Friends
                </th>
              </tr>
        </thead>
        <tbody>
            {{#each showFriends}}
            <tr>
              <td>
                {{this}} <button id="{{this}}" class="deleteFriend">X</button>
              </td>
            </tr>
            {{/each}}
        </tbody>
    
      </table>

</template>
