
<template name="newgroup">

  <h1>Create your group</h1>
  
    <input type="text"  id="groupName" class="groupName" placeholder="enter the group name">
      {{> categories}}
      {{#if addNewType}}
        <input type="text"  id="newType" placeholder="enter the type of the group">
      {{/if}}

      {{> addFriend}}

    <p>
      <button href ="#" class="addGroup" value="Create Group">Create Group</button>
    </p>
  

  

  

  {{> flashMessages}}

</template>

<template name="categories">
  <p>
    <select id="category-select">
      <option disabled="disabled" selected="selected">Please Select</option>
        {{#each categories}}
          <option value="{{this}}">{{this}} </option>
        {{/each}}
  </select>
  </p>
</template>

<template name="addFriend">

    
        <p>
          Add a friend
        </p>
        <input type="text" id="friendEmail" placeholder="enter your friend email">
        <p>
          <br>
          <button href="#" class="addFriend" value="Add Friend">
              Add Friend
          </button>
      </p>
     

      <table>
        <tr>
          <th>
            Your Friends
          </th>
        </tr>
        {{#each showFriends}}
        <tr>
          <td>
            {{this}} <button id="{{this}}" class="deleteFriend">X</button>
          </td>
        </tr>
        {{/each}}
      </table>

</template>
