

<template name="listgroups">
<div class="dashboardTable">
    <table class="blueTable">
        <thead>
        <tr>
          <th>List of Groups</th>
        </tr>
      </thead>
      <tbody>
          {{#each groupList}}
          
    
            <tr data-value="{{index}}">
    
              <option href="#" class="select-group" value="{{_id}}">{{groupName}} ({{userNames}} )</option>
    
            </tr>
         
          {{/each}}
        </tbody>
    
      </table>
</div>

</template>


<template name="dashboard">
  {{> header}}
    <p>
      {{> listgroups}}
    </p>
    <p>
      <button id="standardButton" type="button" class="newgroup">Create a new group</button>
    </p>

    <p>
        {{> back}}
    </p>
    
</template>
