<template name="hello">
  {{displayName}}
</template>

<template name="listgroups">
  <table>
    <tr>
      <th>List of Groups</th>
    </tr>

      {{#each groupList}}

        <tr data-value="{{index}}">

          <option href="#" class="select-group" value="{{_id}}">{{groupName}} ({{userNames}} )</option>
          <!--
          <a href="#" class="select-group" value="{{_id}}">{{groupName}} ({{> listusers}} ) </a>
-->
        </tr>

      {{/each}}

  </table>
</template>


<template name="dashboard">
  Welcome {{> hello}}
    <p>
      {{> listgroups}}
    </p>
    <p>
      <button type="button" class="newgroup">Create a new group</button>
    </p>
    <p><a href="#" class="logout">Logout</a></p>
</template>
