<template name="eventBoard">
{{> header}}


<table class="blueTable">
    <thead>
    <tr>
      <th>Present</th>
    
    <th>Users</th>
    <th>Who paid?</th>
</tr>
  </thead>
  <tbody class="checkBoxPresent">
      <td name="checkBoxPresent">
            <form class="eventTable">
                    {{#each usersTable}}
                        <tr class="formTable">
                            <label class="checkboxEventBoard">
                                    <input id="{{_id}}" class="skipRound" checked="checked" type="checkbox">
                                    <span class="checkmark"></span>
                            </label>
                            
                        
                        </tr>
                    {{/each}}
                </form>
      </td>
      <td>
            <form class="displayNameEvent">
                    {{#each usersName}}
                        <tr class="formTable">
                            
                            {{displayName}} - accuracy of: {{accuracy}}%

                        </tr>
                    {{/each}}
                </form>
      </td>
      <td class="radioButtonPayedRound">
            <form class="eventTable">
                    {{#each usersTable}}
                        <tr class="formTable">
                            
                            {{> radio}}

                        </tr>
                    {{/each}}
                </form>
      </td>
    
    </tbody>

  </table>

<p>
    <button class="createEvent">Pay Round</button>

</p>

</template>

<template name="radio">
    <label class="radioButtonEvent">
        <input type="radio" id="{{email}}" class="payedRound" name="payed" value="{{_id}}">
        <span class="checkmark"></span>
    </label>
        
</template>

