

<head>


</head>

<template class="container body" name="landingpage">
  <div class="vertical-center">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">


      <img src="http://localhost:3000/logo.png" class="landingImage"/>
      <a href="/login" class="enterLogin">Login</a>



    </div>

</template>

<template class="body" name ="login">
  <div class="login">

      <link href="https://fonts.googleapis.com/css?family=Palanquin+Dark" rel="stylesheet">
  <img src="http://localhost:3000/logo.png" class="openImage">
  <form>
    <input type="email" class="loginField" name="loginEmail" placeholder="enter your email">
      <p>
        <input type="password" class="loginField" name="loginPassword" placeholder="enter your password">
      </p>
      <p>
        <input href ="#" type="submit" class="standardButton" value="Login">
      </p>
      <p>
          {{>facebookButton}}
      </p>
      <p>
        <a href="/register" class="standardAnchor">Register</a>
      </p>
      <div class="flashMessages">
          {{> flashMessages}}

      </div>
  </form>

  </div>

</template>
