

<head>


</head>

<template class="container body" name="landingpage">
  <div class="vertical-center">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">


      <img src="http://localhost:3000/logo.png" class="img2"/>
      <a href="/login" class="enterLogin">Login</a>



    </div>

</template>

<template class="body" name ="login">
  <div class="login">

      <link href="https://fonts.googleapis.com/css?family=Palanquin+Dark" rel="stylesheet">
  <img src="http://localhost:3000/logo.png">
  <form>
    <input type="email"  name="loginEmail" placeholder="enter your email">
      <p>
        <input type="password" name="loginPassword" placeholder="enter your password">
      </p>
      <p>
        <input href ="#" type="submit" class="loginButton" value="Login">
      </p>
      <p>
        <a href="/register" class="registerButton">Register</a>
      </p>
    {{> flashMessages}}
  </form>

  </div>

</template>
