<template class="container"  name="landingpage">

  <img src="http://localhost:3000/logo.png" class="img2">


    <p>

<!--
      <input href ="/login" type="submit" class="button1" value="Login">
-->
  <a href="/login" class="a">Login</a>


    </p>



</template>


<template  class="container" class="body" name ="login">

  <img src="http://localhost:3000/logo.png">

  <form>
    <input type="email"  name="loginEmail" placeholder="enter your email">
      <p>
        <input type="password" name="loginPassword" placeholder="enter your password">
      </p>
    <p>
      <input href ="#" type="submit" value="Login">

    </p>

  <p>
    <a href="/register">Register</a>
    </p>

    {{> flashMessages}}

  </form>
</template>

<head>
  <title>Cheapster</title>
  <link rel="stylesheet" href="main.css">
</head>

<body>
</body>
