<template class="body" name ="register">
  <div class="register">
      <img src="http://localhost:3000/logo.png" class="openImage">
      <form class="add-user">
        <p>
            <input type="email"  name="registerEmail" placeholder="enter your email">

        </p>
        <p>
         
            <input type="text" name="registerDisplayName" placeholder="your display name">
        </p>
          <p>
            
              <input type="password" name="registerPassword" placeholder="enter your password">
          </p>
          <p>
            
              <input type="password" name="repeatPassword" placeholder="repeat your password">
          </p>
        <p>
        <input href ="/login" class="createCount" type="submit" value="Create Count"> 
      </p>
      {{>facebookButton}}
      <div class="flashMessages">
            {{> flashMessages}}

      </div>
      </form>
  </div>

</template>
