<template name="eventsList">

<div class="dashboardTable">
    <table class="blueTable">
        <thead>
        <tr>
          <th>THIS GROUP EVENTS</th>
        </tr>
      </thead>
      <tbody>
          {{#each showEvents}}
          
    
            <tr data-value="{{_id}}">
    
                <option href="#" class="selectEvent" value="{{_id}}">Previous Event (Person who paid: {{paidPerson}} )</option>
    
            </tr>
         
          {{/each}}
        </tbody>
    
      </table>
</div>
</template>