<template name= "listUsers">
     

        <div class="dashboardTable">
          <table class="blueTable">
              <thead>
              <tr>
                <th>Users</th>
              </tr>
            </thead>
            <tbody>
                {{#each userList}}
                
          
                  <tr>
          
                    <label class="usersNames">
                      {{displayName}}
                    </label>
          
                  </tr>
               
                {{/each}}
              </tbody>
          
            </table>
      </div>
      </template>