<head>

      
</head>

<template name="group-status">
        <div class="content">
                {{> header}}
                {{> mainCheapster}}
                        
                {{> groupName}}    
                <br>
                {{> addUsersToGroup}}
                <br>
                <br>
                {{> newRound}}
               <br>
                {{> listUsers}}
                <br>
                {{> eventsList}}
                <p>
                {{> back}}
                </p>

        </div>
        
</template>