<head>

        <link href="https://fonts.googleapis.com/css?family=Cabin+Condensed" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
</head>

<template name="group-status">
        <div class="content">
                {{> header}}
                {{> mainCheapster}}
                        
                {{> groupName}}    
                <br>
                {{> addUsersToGroup}}
                <br>
                <br>
                {{> newRound}}
               <br>
                {{> listUsers}}
                <br>
                {{> eventsList}}

        </div>
        
</template>